@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 90%;
	margin: auto;
}

body {
	background-image: url("../images/doodle.png");
	background-color: #f3fadc;
}

header {
	background-color: #232323;
	color: whitesmoke;
	height: 2em;
	padding-top: 0.5em;
}

header .header-left {
	display: inline-block;
	text-align: left;
	color: whitesmoke;
	padding-left: 1em;
}

header .header-left a {
	text-decoration: none;
	color: #9dcd5a;
}

header .header-left p {
	display: inline-block;
	font-size: 0.8em;
	padding-left: 1em;
}

header .header-right {
	display: inline-block;
	text-align: right;
	font-size: 0.8em;
}

header .header-right  a {
	text-decoration: none;
	color: whitesmoke;
}

header .header-right p {
	display: inline-block;
}

h1 {
	text-align: center;
	margin-top: 2em;
	font-size: 1em;
	font-weight: 900;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.subtitle {
	margin: auto;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 0.6em;
	font-weight: 400;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: 1em;
}

.countrieslist select {
	border-style: none;
	font-size: 0.8em;
	width: 100%;
	border-radius: 1em;
	padding: 0.5em;
}

.pno input {
	height: 2em;
	border-radius: 1em;
	padding-left: 1em;
	width: 100%;
	margin-top: 1em;
	font-size: 0.8em;
}

.generate_button input {
	margin-top: 1em;
	display: inline-block;
	padding: 0.5em;
	border-radius: 1em;
	text-align: center;
	color: white;
	font-size: 1em;
	background-color: deepskyblue;
	text-decoration: none;
	width: 100%;
}

.walink a {
	margin-top: 1em;
	display: inline-block;
	padding: 0.5em;
	border-radius: 1em;
	text-align: center;
	color: white;
	font-size: 1em;
	background-color: #9dcd5a;
	text-decoration: none;
	width: 100%;
}